* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

main {
    text-align: center;
}

input {
    border: 1px solid lightgray;
    width: 50%;
}

h1 {
    padding: 20px 0px;
    background-color: #242424;
    color: white;
}

h2 {
    padding-bottom: 50px;
}


.add-todo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
