.header {
    background-color: gray;

    padding: 100px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.header__title {
    font-size: 3em;
    font-weight: bold;
}

.todo-add-form__title {
    font-size: 1.5em;
    padding-bottom: 20px; 
}

.todo-add-form__input {
    width: 100%;
    border: 1px solid black;
    border-radius: 6px;
    text-align: center;
}

.container {
    padding: 20px 60px;
    max-width: 800px;
    margin: auto;
}



.todo-add-form__control {
    display: flex;
    gap: 10px;
}

.todo-add-form {
    padding: 25px;
    border-radius: 6px;
    margin-top: -70px;
    background-color: white;
    box-shadow: 0px 2px 12px rgb(0, 0, 0.8);
}

.todos-container {
    max-height: 500px;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

}

.todos-container::-webkit-scrollbar {
    display: none;
}

.todo-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 5px;
    border-bottom: 1px rgba(0, 0, 0, 0.052) solid;
}

.todo-item__check {
    display: flex;
    flex-shrink: 0;
    border: 2px solid #eee;
    border-radius: 30%;
    height: 2em;
    width: 2em;

    margin-right: 20px;
    transition: background-color 0.3s ;
}

.todo-item:hover .todo-item__check{
    background-color: lightgray;

}

.todo-list {
    height: 50%;
}