<header class="header">

    <h1 class="header__title">ToDos</h1>
    <h2 class="header__greeter">A project by Kirby && NaDario.</h2>

    
</header>

<section class="form-container">

    <div class="todo-add-form">
        <form>
            <h2 class="todo-add-form__title">New Todo</h2>
            <div class="todo-add-form__field">
                <div class="todo-add-form__control">
                    <input type="text" class="todo-add-form__input" placeholder="What would you like to accomplish today?"/> 
                    <button class="todo-add-form__button">ADD</button>
                </div>
            </div>
        </form>
    </div>
</section>