<header class="header">
  <h1 class="header__title">ToDos</h1>
  <h2 class="header__greeter">A project by Kirby && NaDario.</h2>
</header>

<section class="container">
  <div class="todo-add-form">
    <form>
      <h2 class="todo-add-form__title">New ToDo</h2>
      <div class="todo-add-form__field">
        <div class="todo-add-form__control">
          <input
            type="text"
            class="todo-add-form__input"
            placeholder="What would you like to accomplish?"
          />
          <button class="todo-add-form__button">ADD</button>
        </div>
      </div>
    </form>
  </div>
</section>

<section class="todos">
  <div class="todos-container container">
    <div class="todo-list">
      <div class="todo-item">
        <div class="todo-item__check">
          <img
            class="icon"
            src="../../assets/check.png"
            alt="check mark icon"
          />
        </div>
        <div class="todo-item__text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi corrupti deserunt assumenda, adipisci sapiente, saepe vel soluta, ad perferendis animi iusto accusantium cupiditate distinctio sint fugiat. Animi expedita nulla earum.
          Possimus temporibus vel facere porro saepe odio ea architecto fugiat neque enim minus nam quaerat non, ipsa iure ab incidunt autem blanditiis provident. Incidunt reiciendis dolorem iure dicta? Facere, eum.
        </div>
        <div class="todo-item__edit-delete-icons">
          <img class="icon icon--edit" src="../../assets/edit.png" alt="">
          <img class="icon icon--delete" src="../../assets/delete.png" alt="">
        </div>
      </div>
      <div class="todo-item">
        <div class="todo-item__check">
          <img
            class="icon"
            src="../../assets/check.png"
            alt="check mark icon"
          />
        </div>
        <div class="todo-item__text">
          How do I look?
        </div>
         <div class="todo-item__edit-delete-icons">
          <img class="icon icon--edit" src="../../assets/edit.png" alt="">
          <img class="icon icon--delete" src="../../assets/delete.png" alt="">
        </div>
      </div>
       <div class="todo-item completed">
        <div class="todo-item__check">
          <img
            class="icon"
            src="../../assets/check.png"
            alt="check mark icon"
          />
        </div>
        <div class="todo-item__text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi corrupti deserunt assumenda, adipisci sapiente, saepe vel soluta, ad perferendis animi iusto accusantium cupiditate distinctio sint fugiat. Animi expedita nulla earum.
          Possimus temporibus vel facere porro saepe odio ea architecto fugiat neque enim minus nam quaerat non, ipsa iure ab incidunt autem blanditiis provident. Incidunt reiciendis dolorem iure dicta? Facere, eum.
        </div>
        <div class="todo-item__edit-delete-icons">
          <img class="icon icon--edit" src="../../assets/edit.png" alt="">
          <img class="icon icon--delete" src="../../assets/delete.png" alt="">
        </div>
      </div>
       <div class="todo-item">
        <div class="todo-item__check">
          <img
            class="icon"
            src="../../assets/check.png"
            alt="check mark icon"
          />
        </div>
        <div class="todo-item__text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi corrupti deserunt assumenda, adipisci sapiente, saepe vel soluta, ad perferendis animi iusto accusantium cupiditate distinctio sint fugiat. Animi expedita nulla earum.
          Possimus temporibus vel facere porro saepe odio ea architecto fugiat neque enim minus nam quaerat non, ipsa iure ab incidunt autem blanditiis provident. Incidunt reiciendis dolorem iure dicta? Facere, eum.
        </div>
         <div class="todo-item__edit-delete-icons">
          <img class="icon icon--edit" src="../../assets/edit.png" alt="">
          <img class="icon icon--delete" src="../../assets/delete.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
