nav {
    font-size: 18px;
    margin-top: 10px;
}

a {
    display: inline-block;
    text-decoration: none;
    padding: 6px 24px;
    color: #242424; 

    background-color: #d3d3d3;
    margin: 0px 10px;
    border-radius: 4px;
}